html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
#map-canvas {
	position: relative;
}


#list-view {
	position: absolute;
	padding: 0 3%;
	top: 3%;
	left: 2%;
	background-color: white;
}

#search-bar {
	margin-bottom: 1%;
}