html,
body,
.map {
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
}


.map {
	position: relative;
}

.pano {
	position: absolute;
	right: 2%;
	top: 3%;
}

.list-view {
	position: absolute;
	padding: 0 3%;
	top: 3%;
	left: 2%;
	background-color: white;
}

.search-bar {
	margin-bottom: 1%;
}

.selected {
	background-color: grey;
}